{strip}
{include file='header.tpl' title=$_TRANS['FAQ'] class="static"}

<h1>{$_TRANS['FAQ']}</h1>

{* {if $list}
	{foreach name=list from=$list key=id item=l}
				<div class="question" style="cursor: pointer;">
					<h2>{$l.fQuestion}</h2>
				</div>
				<div style="padding: 10px; display: none;">
					{if $l.fCat}<small>{$l.fCat}</small><br>{/if}
					{$l.fAnswer}
				</div>
	{/foreach}
	{include file='pl.tpl'}
	<br>
{/if}

<script type="text/javascript">
	$('.question').next().hide();
	$('.question').click(
		function()
		{
			$(this).next().slideToggle();
	    }
	);
</script> *}

<div>
	<div class="faq">
	<ul>
		<li>Насколько безопасным является мое участие в вашей инвестиционной программе? Могу ли я потерять свои средства?</li>
	</ul>
	<p>Наша инвестиционная программа лишена всякого риска, ваше участие является безопасным. Трейдеры торгуют частью капитала плюс у нас есть финансовая подушка для форс-мажорных ситуаций.</p>
	<ul>
		<li>С какой целью вы запустили данную инвестиционную программу?</li>
	</ul>
	<p>С целью масштабирования, мы четко отработали стратегию торговли и сотрудничество с инвесторами в ручном режиме, теперь готовы работать в онлайн и предоставлять наши услуги большому количеству клиентов.</p>
	<ul>
		<li>Кто может стать вашим клиентом?</li>
	</ul>
	<p>Наша проект является международным и представлен онлайн, так что любой желающий пользователь достигший 18 лет может инвестировать с нами и получать стабильный пассивный доход.</p>
	<ul>
		<li>Сколько я могу инвестировать?</li>
	</ul>
	<p>Вы может инвестировать любую сумму, минимальный депозит – 10 USD</p>
	<ul>
		<li>Как долго будет работать мой депозит?</li>
	</ul>
	<p>Ваш депозит замораживается на срок в 365 дней. Все это время вам будет начисляться ежесуточная прибыль, после вы сможете повторно сделать вклад.</p>
	<ul>
		<li>Когда я могу выводить прибыль?</li>
	</ul>
	<p>Каждый день как только на вашем балансе будет сумма не менее 1 USD, вы можете сделать заявку на вывод средств. Заявку можно подавать не более одного раза в сутки.</p>
	<ul>
		<li>Есть ли у вас комиссии при вводе и выводе средств?</li>
	</ul>
	<p>Для USD, как для ввода так и для вывода, нет комиссий. Но есть комиссия для Bitcoin, о ней ниже.</p>
	<ul>
		<li>Какие условия по работе с Bitcoin?</li>
	</ul>
	<p>Минимальная сумма для пополнения 0.05 BTC для вывода 0.01, также при выводе на биткоин есть комиссия. За каждую заказанную выплату будет снимать комиссию в размере 0,001 BTC.</p>
	<ul>
		<li>Как быстро обрабатываются заявки на вывод прибыли?</li>
	</ul>
	<p>Ваша заявка будет обработана до 48 часов</p>
	<ul>
		<li>Какой размер партнерского вознаграждения? </li>
	</ul>
	<p>С нашей партнерской программой вы будете зарабатывать: <br>

		 12% от дохода каждого реферала 1 уровня<br>
		 3% от дохода каждого реферала 2 уровня
	</p>
	<ul>
		<li>Нужно ли мне иметь активный депозит, чтобы зарабатывать на партнерской программе?</li>
	</ul>
	<p>Да. Только воспользовавшись нашим сервисом в качестве инвестора из опыта работы вы сможете профессионально консультировать своих рефералов.</p>
	<ul>
		<li>Могу ли я зарегистрировать несколько аккаунтов с того же IP адреса?</li>
	</ul>
	<p>Нет, каждому инвестору доступно иметь один кабинет, мультиаккаунты запрещены и будут блокироваться.</p>
	<ul>
		<li>Какую валюту Вы принимаете?</li>
	</ul>
	<p>Мы принимаем USD через электронные платежные системы PerfectMoney, Advcash и Bitcoin.</p>
	<ul>
		<li>У Вас работает система реинвестирования?</li>
	</ul>
	<p>Нет, вы можете открыть не ограниченное количество новых вкладов.</p>
	<ul>
		<li>Я забыл/потерял пароль от своего аккаунта. Что мне делать?</li>
	</ul>
	<p>Воспользуйтесь функцией Восстановление пароля на ваш e-mail.</p>
	<ul>
		<li>Я не нашел в списке ответ на мой вопрос?</li>
	</ul>
	<p>Если в FAQ, Вы не нашли ответа или у вас появились трудности в работе с сайтом - можете обратиться в нашу службу технической поддержки через онлайн чат.</p>
</div>
</div>

{include file='footer.tpl' class="static"}
{/strip}