.table td, .table th, .table small {
	font-size: 14px;
}

.tile_count .amount {
	line-height: 0.9;
	margin: 7px 0;
}

.tile_count .amount span {
	font-size: 32px!important;
}

.tile_count .tile_stats_count:before {
	height: 75%;
}

.main_menu .fa {
	margin-right: 10px;
}

.depo table td {
	text-align: center;
}

.depo table th {
	text-align: center;
}

.depo .btn {
	background: rgba(52,73,94,.94);
}

.tabs {
	display: none;
}

.tabs.tab1 {
	display: table-row;
}

.faq {
	width: 100%;
	max-width: 900px;
	font-size: 18px;
	line-height: 1.58;
}
.faq p {
	margin: 0 21px 12px;
	word-wrap: break-word;
}
.faq ul {
	margin: 21px;
}
.rules {
	width: 100%;
	max-width: 900px;
	font-size: 18px;
	line-height: 1.58;
}
.rules p {
	margin: 55px 0;
	word-wrap: break-word;
}
.rules p.header {
	margin-bottom: -40px;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
	background: rgba(52,73,94,.94);
}

.site_title img {
	width: 40px;
}

.site_title span {
	font-weight: bold;
}

/* Career */

.career .well {
	overflow: hidden;
	background: #fff;
	border-width: 2px;
	padding: 0;
	font-size: 15px;
}

.career .well .top {
	min-height: 300px;
	padding: 17px;
}

.career .reward {
	color: #999999;
	margin-top: 20px;
}

.career .active .reward {
	font-size: 40px;
	display: block;
	color: #1ABB9C;
	margin-top: 0;
}

.career .active i {
	text-align: center;
	color: #1ABB9C;
}

.career .active .numbers {
	position: static;
}

.career .active .numbers p {
	//font-size: 35px;
}

.career .icon {
	font-size: 130px;
	color: #000;
}

.career .active .well {
	border: 2px solid #1ABB9C;
	box-shadow: inset 0 1px 1px rgba(26, 187, 156);
}

.career .well h2 {
	text-transform: uppercase;
}

.career .well .numbers {
	//min-height: 220px;
}

.career .well .bottom {
	background: #F2F5F7;
	padding: 20px 0;
    border-top: 1px solid #E6E9ED;
    height: 68px;
}

.career .well .bottom .progress {
	background: #d9d9d9;
	margin: 0;
}

.career .well .bottom .progress-bar {
	background: #1ABB9C;
}

.career .well .bottom .icon-check {
	font-size: 35px;
	color: #1ABB9C;
	line-height: 1;
	margin-top: -8px;
}

.career .well .logo {
	font-size: 100px;
}

.promo img {
	width: 100%;
}