{strip}
{include file='account/login/header.tpl'}

<link rel="stylesheet" href="/css/admin.css">

<!-- Page container -->
<div class="page-container">

<!-- Page content -->
<div class="page-content">

<!-- Main content -->
<div class="content-wrapper">

<!-- Content area -->
<div class="content">
<div class="panel panel-body">

<h1>Правила и соглашения</h1>

<div class="rules">
	<p>Перед началом использования сайта alt-trade.com и регистрацией аккаунта внимательно прочтите настоящие правила и условия! Фактом использования этого сайта вы подтверждаете принятие настоящих условий и согласие на их соблюдение. </p>

	<p class="header"> 1. ОБЩИЕ УСЛОВИЯ </p>
	<p> 1.1. Участие в проекте возможно исключительно для лиц, достигших возраста совершеннолетия, который установлен законом в стране проживания. Обычно это 18 лет и старше. </p>
	<p> 1.2. Участие в проекте является анонимным. От участника не требуется предоставление каких-либо документов, удостоверяющих личность, или документов, содержащих персональные данные. Также, от участника не требуется прохождение какой-либо процедуры подтверждения личности с помощью пересылки документов на адрес его физического нахождения или с помощью телефона. </p>
	<p> 1.3. Alt-trade обязуется ни в коем случае не передавать персональные данные участника (логин, имя и фамилию , адрес электронной почты и информацию о депозитах) каким-либо третьим лицам.</p>
	<p class="header"> 2. ПРАВА И ОБЯЗАННОСТИ СТОРОН </p>
	<p> 2.1. Участник имеет право: </p>
	<p> 2.1.1. Зарегистрироваться на сайте и иметь только один аккаунт в системе. </p>
	<p> 2.1.2. Перечислять на счет в системе денежные средства любым из доступных на сайте способов. </p>
	<p> 2.1.3. Открывать один или несколько параллельных депозитов на свое усмотрение. </p>
	<p> 2.1.4. Принимать участие в проводимых проектом акциях и конкурсах согласно правилам акций и конкурсов, опубликованным на сайте. </p>
	<p> 2.1.5.Стать участником партнерской программы и привлекать рефералов, получая партнерское вознаграждение. </p>
	<p> 2.2. Участник обязуется: </p>
	<p> 2.2.1. Использовать для пополнения баланса в системе и вывода средств только принадлежащие ему платежные инструменты. </p>
	<p> 2.2.2. Производить пополнение своего баланса средствами, имеющими законное происхождение.</p>
	<p> 2.2.3. Сохранять в безопасности данные для доступа к аккаунту и не передавать доступ к аккаунту третьим лицам. </p>
	<p> 2.3. Alt-trade.com имеет право: </p>
	<p> 2.3.1. Блокировать аккаунт участника в случае сообщения платежными системами о противозаконных действиях Участника, а также по запросу правоохранительных органов. </p>
	<p> 2.3.2. Отказать Участнику в предоставлении услуг и заблокировать аккаунт в случае, если Участник предпринимает попытки так или иначе нанести вред проекту (клевета, дискредитация, шантаж, попытки взлома вебсайта, спам и т.д.). В этом случае Alt-trade может начать процедуру возврата вклада или конфисковать инвестированные средства для покрытия нанесенных убытков. </p>
	<p> 2.3.3. Изменять, добавлять, переименовывать, или оставлять без изменения любые разделы, пункты и подпункты настоящих правил и условии с уведомлением участников на сайте. </p>
	<p> 2.4. Alt-trade обязуется: </p>
	<p> 2.4.1. Обеспечивать конфиденциальность персональных данных Участника. </p>
	<p> 2.4.2. Производить начисления на балансе Участника согласно условиям тарифного плана. </p>
	<p> 2.4.3. Следить за работоспособностью сайта и обеспечивать беспрепятственный доступ к аккаунту. </p>
	<p class="header"> 3. НАЧИСЛЕНИЙ ПО ДЕПОЗИТАМ </p>
	<p> 3.1. Начисление прибыли производится согласно условиям инвестиционного плана. </p>
	<p> 3.2. Прибыль по депозитам зачисляется на баланс аккаунта участника. </p>
	<p> 3.3. Участник вправе распоряжаться прибылью по своему усмотрению. </p>
	<p> 3.4. Участнику не разрешается вывести тело депозита досрочно. Вклад работает 365 дней.</p>
	<p> 3.5. Участник может параллельно открывать неограниченное количество независимых депозитов. </p>
	<p class="header"> 4. ВЗАИМОРАСЧЕТЫ </p>
	<p> 4.1. Участник может перевести денежные средства на свой счет в любое время любым доступным способом. </p>
	<p> 4.2. Денежные средства, перечисляемые Участником на свой счет, зачисляются моментально и не облагаются дополнительными комиссиями со стороны проекта. Однако такие комиссии могут присутствовать со стороны платежной системы Участника. </p>
	<p> 4.3. Перечисляемые средства зачисляются на счет Участника в валюте USD и Bitcoin.</p>
	<p> 4.4. Выплаты осуществляются по реквизитам, указанным участником в настройки аккаунта. </p>
	<p> Alt-trade.com не несет ответственности за некорректно указанные реквизиты и платежи, проведенные по некорректно указанным реквизитам. </p>
	<p> 4.5. Выплаты не облагаются дополнительными комиссиями со стороны проекта. </p>
	<p> 4.6. Максимальный срок обработки заявки на выплату составляет 48 часов. </p>
	<p> 4.7. Выплаты осуществляются только на электронные кошельки, принадлежащие участнику. Выплаты на чужие электронные кошельки запрещены. </p>
	<p class="header"> 5. РЕФЕРАЛЬНАЯ ПРОГРАММА </p>
	<p> 5.1. Каждый партнер получает уникальную реферальную ссылку, регистрируясь по которой приглашенный участник привязывается к аккаунту пригласившего его партнера. </p>
	<p> 5.2. Реферальная комиссия рассчитывается от дохода реферала и зачисляется на баланс партнера сразу же после начисления прибыли рефералом. </p>
	<p> 5.3. Партнер вправе распоряжаться полученной комиссией на свое усмотрение. </p>
	<p> 5.4. Запрещается регистрировать множественные аккаунты для участия в реферальной программе. </p>
	<p> 5.5. Участникам партнерской программы запрещается использовать "серые" и "черные" методы продвижения своей реферальной ссылки (СПАМ). </p>
	<p class="header"> 6. ОТВЕТСТВЕННОСТЬ </p>
	<p> За невыполнение и/или не соблюдение Участника данных Правил, или игнорирование предупреждений от администрации Alt-trade может без дальнейших переговоров и обсуждения с заинтересованной стороной частично ограничить доступ, временно заблокировать или навсегда удалить учетную запись такого Участника. Денежные средства в виде основного депозита, процентных начислений по нему, реферальные и бонусные вознаграждения, а также иные средства, которые могли находиться на балансе аккаунта на момент установления факта невыполнения Правил, возмещению не подлежат.</p>
</div>

</div>
<!-- /content area -->

</div>
<!-- /main content -->

</div>
<!-- /page content -->

</div>
<!-- /page container -->

{include file='account/login/footer.tpl'}
{/strip}