{strip}
<!-- Trigger the modal with a button -->
<a href="" class="sign-in" data-toggle="modal" data-target="#login-modal">вход</a>

<!-- Modal -->
<div id="login-modal" class="modal fade" role="dialog">
  <div class="modal-dialog login-modal">

  	<h1><span>В</span>ход</h1>

    {include file='account/login/box.modal.tpl'}

  </div>
</div>
{/strip}